.btn {
    display: inline-block;
    background: #009688;
    color: white;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: 15px;
    border-radius: .5rem;
}
.btn:hover {
    color: #130f40;
    background: #ccc;
}
table {
    padding: 10px;
}
th,
td {
    text-align: center;
    padding: 8px;
}

.container .content .cards {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-top: 10px; */
}
.container .content .cards .card {
    width: 280px;
    height: 150px;
    background: white;
    margin: 30px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .content .cards .card:hover{
    background-color: rgba(0, 150, 136, 0.3);
}
.container .content .cards .card .i{
    font-size: 50px;
    margin-left: -20px;
}
.container .content .cards .card .box{
    margin-bottom: 30px;
    margin-left: 20px;
}
.container .content .content-2 {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.container .content .content-2 .recent-fines{
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.container .content .content-2 .recent-fines .title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 8px;
    border-bottom: 2px solid #999;
}
.container .content .content-2 .recent-fines .title i{
    font-size: 30px;
    margin-right: 20px;
}
.container .content .content-2 .recent-fines .table-details{
    overflow-y: scroll;
    height:40vh;
    display: flex;
    flex-direction: column;
}


  @media (max-width: 550px) {
    .content .content-2{
        padding: 0;
    }
  }

  @media (max-width: 440px) {
    .container .content .content-2 .recent-fines{
        margin: 0 5px 5px 5px;
    }
  }