/* style.css file*/
:root{
	--green: #009688;
  --green-dark: #007d71;
  --red: #96000e;
  --red-dark: #7d000c;
}


.scanner-outer-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	height: 100%;
	box-sizing: border-box;
	text-align: center;
	overflow-y: auto;
}

.inner-container {
	width: 90%;
	margin: 5px;
}

.scanner-details{
	
}

.container h1 {
	color: #ffffff;
	/* overflow-y: auto;
    height: calc(100vh - 15vh); */
}

.section {
	/* background-color: #ffffff; */
	padding: 20px 20px;
	/* border: 1.5px solid #b2b2b2; */
	/* border-radius: 0.25em; */
	/* box-shadow: 0 20px 25px rgba(0, 0, 0, 0.08); */
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-top: 100px; */
}

#my-qr-reader {
	width: 500px;
	background-color: #ffffff;
	padding: 20px !important;
	border: 1.5px solid #b2b2b2 !important;
	box-shadow: 0 20px 25px rgba(0, 0, 0, 0.08);
	border-radius: 8px;
}

#my-qr-reader img[alt="Info icon"] {
	display: none;
}

#my-qr-reader img[alt="Camera based scan"] {
	width: 100px !important;
	height: 100px !important;
}

button {
	padding: 10px 20px;
	border: 1px solid #b2b2b2;
	outline: none;
	border-radius: 0.5rem;
	color: white;
	font-size: 15px;
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 10px;
	background-color: #009688;
	transition: 0.3s ;
}

button:hover {
	background-color: #ccc;
	color: #130f40;
}

#html5-qrcode-anchor-scan-type-change {
	text-decoration: none !important;
	color: #1d9bf0;
}

video {
	width: 100% !important;
	border: 1px solid #b2b2b2 !important;
	border-radius: 0.25em;
}

.option-buttons{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#start-journey-btn {
	padding: 10px 20px;
	border: none;
	outline: none;
	border-radius: 0.25em;
	color: white;
	font-size: 15px;
	cursor: pointer;
	background-color: var(--green);
	transition: 0.3s background-color;
	display: none;
}

#start-journey-btn:hover {
	background-color: var(--green-dark);
}

#end-journey-btn, #cancel-journey-btn {
	padding: 10px 20px;
	border: none;
	outline: none;
	border-radius: 0.25em;
	color: white;
	font-size: 15px;
	cursor: pointer;
	background-color: var(--red);
	transition: 0.3s background-color;
	display: none;
}

#end-journey-btn:hover, #cancel-journey-btn:hover {
	background-color: var(--red-dark);
}


.warning {
	margin: 20px 0;
	font-size: 25px;
	color: var(--red);
	font-weight: bold;
}

#html5-qrcode-anchor-scan-type-change{
	display: none !important;
}
