.setting-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container .content{
  position: relative;
  margin-top: 10vh;
  min-height: 90vh;
}

.content .setting-outer-container .inner-container form {
  padding:20px;
  width:800px;
  background: #fff;
  margin: 10px 80px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.3);
  height: 75vh;
  display: flex;
  justify-content: center;
  border-radius: .5px;
}

.content .setting-outer-container .inner-container{
  width:1000px;
  background: white;
  box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.05);
 border: none;
  padding: 10px;
  height: 85vh;
  border-radius: .75rem;
  /* margin-top: 120px;
  margin-left: 180px;
  
  text-align: center; */
}

.content .setting-outer-container .inner-container h1{
  text-align: center;
  color: #009688;
}

.table-title {
  font-weight: bold;
  text-align: center;
}

.body-container .left table, .body-container .left th, .body-container .left td {
  border: none;
}

.user-values{
  text-align: left;
}

.inner-container h1{
  margin-bottom: 10px;
}


.body-container{
  display: grid;
  grid-template-columns: 40% 1fr;
  margin: 10px;
  width: 700px;

}

.left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
  height: 65vh;
}

.image{
  width: 10rem;
  height: 10rem;
  border: 1px solid black;
  padding: 5px; 
  margin-bottom: 10px;
}

.image img{
  width: 100%;
  height: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  height: 65vh;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.update-btn {
  padding: 10px 20px;
  background-color: #009688;
  color: white;
  border: none;
  border-radius: .5px;
  cursor: pointer;
}

.update-btn:hover {
  color: #130f40;
    background: #ccc;
}

.tbox.error textarea {
  border: 1px solid #96000e;
}

.error-message {
  color: #96000e;
  margin-top: 8px; 
  margin-bottom: 12px;
}

#image-select{
  border: none ;
  width: 195px;
}
