table {
    padding: 10px;
}
th,
td {
    text-align: center;
    padding: 8px;
}

.content .transaction-history{
    min-height: 50vh;
    /* flex: 5; */
    background: white;
    /* margin: 70px 25px 25px 25px; */
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.content .transaction-history .table-container{
    padding: 5px;
    margin: 20px;
}

.content .transaction-history .table-details{
    overflow-y: scroll;
    height:70vh;
    display: flex;
    flex-direction: column;
}
.content .transaction-history .transaction-title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}
.content .transaction-history .transaction-title i{
    font-size: 30px;
    margin-right: -10px;
}