@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'poppins','sans-serif';
}
body{
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.85;
}

/* .container{
    padding-top: 50px;
    margin: 100px 100px;
    background-color: #009688;
    padding-bottom: 10px;
} */

.container-main{
    display: flex;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}

.container2{
    
    background-color: #f7f0f0;
    margin-left:100px;
    width:900px;
    margin-right: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.container-main{
    margin: 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    background-color: #03554d;
    /* ;#046b61 */
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} 
.container3{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    margin-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    margin-bottom: 20px;
}
.wrapper{
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 350px;
    margin-top: 30px;
    
    /* width: 370px;
    margin:30px auto 0;
    margin-left: 200px; */
}

.wrapper2{
   
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    margin-left: 30px;
    /* margin-left: 50px;
    display: inline-block;
    width: 370px; */
}

.wrapper.active{
    display: inline-block; 

}

.select-btn, .options li,.select-btn2, .options2 li{
    display: flex;
    cursor: pointer;
    align-items:center;
}

.select-btn, .select-btn2{
    height:65px;
    font-size:22px;
    padding:0 20px;
    border-radius:7px;
    background:#fff;
    justify-content:space-between;
}

.select-btn i,.select-btn2 i{
    font-size: 31px;
    transition:transform 0.3s linear;
    
}
.wrapper.active .select-btn i,.wrapper2.active .select-btn2 i{
    transform:rotate(-180deg)
}

.content1 ,.content2{
    display: none;
    padding:20px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 7px;
    background:#fff;
}

.wrapper.active .content1,.wrapper2.active .content2{
    display: inline-block;
}

.content1 .search,.content2 .search2{
    position: relative;
}

.search i,.search2 i{
    left:15px;
    color:#999;
    font-size: 20px;
    line-height: 53px;
    position:absolute;
}

.search input ,.search2 input{
    height:53px;
    width:100%;
    font-size: 17px;
    border-radius: 5px;
    padding:0 15px 0 43px;
    border:1px solid #fff;
}

.content1 .options,.content2 .options2{
    margin-top: 10px;
    max-height: 250px;
    overflow-y:auto;

}

.options::-webkit-scrollbar,.options2::-webkit-scrollbar{
    width:7px;
}
.options::-webkit-scrollbar-track,.options2::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;    
}
.options::-webkit-scrollbar-thumb,.options2::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 25px;   
}


.options li,.options2 li{
    height:50px;
    border-radius: 5px;
    padding:0 13px;
    font-size:21px;
}

.options li:hover, li.selected,.options2 li:hover, li.selected{
    background:#f2f2f2;
}

/* ##Ticket Prices## */


.first{
    display: inline-block;
    margin-top:40px ;
    margin-left: 115px;

}
.second{
    display: inline-block;
    margin:40px 20px;
}
.third{
    display: inline-block;
    margin:40px 20px;
}

.box{
    height: 50px;
    border-radius: 5px;
}
.first span,.second span,.third span{
    font-size: 20px;
}
.text{
    text-align: center;
    font-size: 25px;
    
    /* padding-left: 25px;
    padding: 0px; */
    padding-bottom: 50px;

   
}

.text #btn {
    font-weight: bold;
    border-radius: 10px;
    background: linear-gradient(to right, #9cc1e2,  #04776c);
    font-size: 20px;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.5);
}

.text #btn:hover {
    background: linear-gradient(to right, #04776c, #9cc1e2);
    box-shadow: 0px 8px 15px -8px rgba(0, 0, 0, 0.8);
}

.date{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

.date input[type="date"]{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
