.container .content{
  position: relative;
  margin-top: 10vh;
  min-height: 90vh;
}

.container .content .cards{
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .content .cards .card{
  width: 250px;
  height: 150px;
  background: white;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,0.19);
  transition: all 0.3s ease; /* Transition effect */
}

.container .content .cards .card img{
  width: 50px;
}

.db-link{
  text-decoration: none;
}

.container .content .cards .db-link .card:hover{
  /* background-color: #00d7c2; New background color on hover */
  transform: scale(1.05); /* Scale effect on hover */
}

.container .content .cards .db-link .card:hover h3 {
  color: #333; /* New text color on hover */
}



/* .container .content .content-2{
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container .content .content-2 .new-fines{
  min-height: 50vh;
  flex: 5;
  background: white;
  margin: 0 25px 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0,0.19);
}

.container .content .content-2 .new-feedback{
  flex: 2;
  background: white;
  min-height: 50vh;
  margin: 0 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0,0.19);
} */