*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

body {
  background: #f1f1f1;
}

h1{
  color: #009688;
  text-align: center;
}

h3{
  text-align: center;
  color: #999;
  font-weight: bold;
}

/*Side Bar*/
.side-menu{
  padding-top: 20px;;
  position: fixed;
  background: #f1f1f1;
  height: 1000vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  */

}

.railwallet-title {
  display: flex;
  align-items: center;
  transition: transform 0.3s;
  margin-right: 40px;
}

.logo {
  margin-right: 10px; /* Adjust the margin to space the logo from the text */
}

.side-menu .railwallet{
  height: 10hv;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.side-menu li a{
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

.side-menu li{
  font-size: 18px;
  padding: 0px 40px;
  color: #333;
  transition: transform 0.3s;
  font-weight: bold;
  height: 55px;
  display: flex;
  align-items: center;
  position: relative;
}

.side-menu li::after {
  content: ''; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: transparent; 
  border-radius: 10px; 
  transition: background-color 0.3s; 
  z-index: -1; 
}

.side-menu li:hover::after,
.side-menu li.active::after { 
  background-color: rgba(0, 150, 136, 0.3);
}


.side-menu ul img {
  width: 30px;
  margin-right: 20px;
}

.side-menu li:hover{
  /* background: rgba(255, 255, 255, 0.252); */
  color: #009688;
  transform: translateX(10px);
  cursor: pointer;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}


.container{
  position: fixed;
  right: 0;
  height: 100%;
  width: 80%;
  background: #fff;
}


/*Header*/
.container .header{
  position: fixed;
  padding: 20px;
  top: 0;
  right: 0;
  width: 80%;
  height: 10vh;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,0.2);
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.2); */
} 

.container .header .nav{
  width: 97%;
  display: flex;
  align-items: center;
}

.container .header .nav .user{
  font-size: 21px;
  font-weight: bold;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header .nav .user .img-case{
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: auto;
  margin-left: 20px;
}

.container .header .nav .user .img-case img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.fa-bell{
  font-size: 30px;;
}

.icons{
  margin-right: 10px;
}

.qrCode{
  height: 70px;
  width: 70px;
  display: block;
  margin: 0 auto;
}
