.details{
  display: inline-block;
  text-align: left;
  min-height: calc(100vh - 10vh);
}

/*search bar*/
.search-bar-outer-container{
  display: grid;
  grid-template-columns: 1fr 100px;
  margin-top: 5px; 
  /* align-items: center;
  justify-content: center;  */
}

.search-bar{
  display: flex;
  align-items: center;
  justify-content: center; 
  max-width: 400px;
  height: 40px; 
  margin: 0 auto; 
  background: #fff;
  border: 1px solid #ccc;
  border-radius: .5rem;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

.border-search {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

input[type="date"] {
  flex: 1;
  padding: 9px;
  border: none;
  outline: none;
}

.search-button {
  background: #009688;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 17px;
}

/*Table*/
.detail-body {
  display: flex;
  align-items: center;
}

.table-container {
  background: #fff; 
  flex: 1; 
  overflow: auto;
  max-height: 500px; 
  overflow-y: auto;
  position: relative;
  margin-top: 5px;
}



.table-container table {
  width: 100%; 
  border-collapse: collapse; 
}

.table-container thead {
  background-color: #009688; 
  color: #fff;
  position: sticky; 
  top: -0.1px; 
  z-index: 2;
}

.table-container th, td {
  border: 1px solid #ddd; 
  padding: 8px;
  text-align: left;
  font-size: 16px;
}

.table-container td{
  z-index: 1;
  font-size: 15px;
}

td{
  text-align: center;
}

@media screen and (max-width: 940px) {

  .table-container th{
    font-size: 12px;
  }

  .table-container td{
    font-size: 11px;
  }

}

@media screen and (max-width: 740px) {
  .table-container th{
    font-size: 8px;
  }

  .table-container td{
    font-size: 7px;
  }

}

@media screen and (max-width: 580px) {
  .table-container th{
    font-size: 6px;
  }

  .table-container td{
    font-size: 5px;
  }

}
