  .details{
    display: inline-block;
    text-align: left;
    min-height: calc(100vh - 10vh);
  }
  
  /*Train Heading*/
  .container{
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
  }
  
  /*search bar*/
  .search-bar-outer-container{
    display: grid;
    grid-template-columns: 1fr 100px;
    margin-top: 5px; 
    /* align-items: center;
    justify-content: center;  */
  }
  
  .search-bar-outer-container-shedule{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 1fr;
    margin-top: 25px; 
  }
  
  .search-bar-shedule{
    display: flex;
    align-items: center;
    justify-content: center; 
    max-width: 250px;
    margin: 0 auto; 
    background: #fff;
    border: 1px solid #ccc;
    border-radius: .5rem;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
  }
  
  .border-search {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
  }
  
  input[type="date"] {
    flex: 1;
    padding: 9px;
    border: none;
    outline: none;
  }
  
  .search-button {
    background: #009688;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .search-button i {
    font-size: 16px;
  }
  
  /*Table*/
  .detail-body {
    display: flex;
    align-items: center;
  }
  
  .table-container {
    background: #fff; 
    flex: 1; 
    overflow: auto;
    max-height: 500px; 
    overflow-y: auto;
    position: relative;
    margin-top: 5px;
  }
  
  .table-container table {
    width: 100%; 
    border-collapse: collapse; 
  }
  
  .table-container thead {
    background-color: #009688; 
    color: #fff;
    position: sticky; 
    top: -0.1px; 
    z-index: 2;
  }
  
  .table-container th, td {
    border: 1px solid #ddd; 
    padding: 8px;
    text-align: left;
  }
  
  
  .table-container td{
    z-index: 1; 
  }
  
  td{
    text-align: center;
  }