#map { 
  height: 500px; 
  width: 100%;
}
.map-outer-container{
  display: flex;
  justify-content: center;
  border: 2px solid black;
  padding: 1vh;
  width: 90%;  
}
.Station-name{
  text-align: center;
  margin-bottom: 2vh;
  background-color: #333;
  width: 300px;
  color: #fff;
  padding: 10px;
  font-size: 25px;
  border-radius: 5px;
}

.coordinates{
  text-align: center;
  margin-top: 20px;
}

.outer-container{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-top: 20px;
}