.register-from-outer-container{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-train-details {
  background: #fff;
  border-radius: 5px;
  position: relative;
  text-align: center;
  width: 50%;
}

.close-button {
  top: -15px;
  right: -15px;
  position: absolute;
  background-color: #009688;
  color: white; 
  text-decoration: none;
  border-radius: 50%; 
}

.close-button i {
  font-size: 15px; 
  padding: 3px 5px;
}

.add-train-details h1 {
  font-size: 24px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f1f1f1;
  color: #333;
  border-radius: 5px;
}

.add-train-form {
  background: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
}

.add-train-form label{
  color: black;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  margin-top: 10px
}

.add-train-form .tbox{
  margin-bottom: 10px;
  display: relative; 
  justify-content: start;
  align-items: center; 
}

.add-train-form .tbox input{
  width: 100%;
  padding: 10px;
  border: 1px solid #009688;
  outline: none;
  background: transparent;
  color: black;
}

.emp-train-form{
  display: grid;
  grid-template-columns: 10vw auto;
  column-gap: 10px;   
}

.tbox.error input {
  border: 1px solid rgba(183, 24, 24, 0.79);
}

.error-message {
  color: rgba(210, 42, 42, 0.593);
  margin-top: 10px; 
}

.sbtn {
  background: #009688;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} 

.schedule-outer{
  position: relative;
}

.schedule-outer .tbox input{
  width: 100%;
  padding: 10px;
  border: 1px solid #009688;
  outline: none;
  background: transparent;
  color: black;
}

.schedule-outer h1{
  width: 1000px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 8px;
  background: #f1f1f1;
}

.below-section{
  padding: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  background: #f1f1f1;
}

.below-upper{
  display: grid;
  grid-template-columns: 10vw 1fr;
}

.station-details-outer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}
